<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head-tag.ejs') %>
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Roboto&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<%- include('./partials/navbar.ejs') %>
		<div class="signUp-bg">
			<div class="container py-5">
				<div class="row mx-2 justify-content-md-center">
					<div class="col home-col bg-white d-md-block d-none">
						<div class="mt-5">
							<div class="Sub-Chapters">
								<div class="subChp-title mx-3 mb-2 text-center">
									WIE
								</div>
								<p class="subChp-text mx-3 p-2 text-justify">
									Create apps, connect databases and add-on
									services, and collaborate on your apps, for
									free.
								</p>
								<div class="subChp-title mx-3 mb-2 text-center">
									MTTS
								</div>
								<p class="subChp-text mx-3 p-2 text-justify">
									Create apps, connect databases and add-on
									services, and collaborate on your apps, for
									free.
								</p>
								<div class="subChp-title mx-3 mb-2 text-center">
									ISV
								</div>
								<p class="subChp-text mx-3 p-2 text-justify">
									Create apps, connect databases and add-on
									services, and collaborate on your apps, for
									free.
								</p>
								<div class="subChp-title mx-3 mb-2 text-center">
									CS
								</div>
								<p class="subChp-text mx-3 p-2 text-justify">
									Create apps, connect databases and add-on
									services, and collaborate on your apps, for
									free.
								</p>
							</div>
						</div>
					</div>
					<div class="col home-col bg-white">
						<div class="my-3">
							<form id="register" class="p-4 signup-form">
								<div class="pb-3 text-center form-title">
									<h4>Sign Up</h4>
								</div>
								<div class="alert alert-warning alert-dismissible fade show d-none" role="alert" id='err-alert'>
									<p id = "alert-text">Error</p>
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
								<div class="form-group">
									<input
										type="text"
										class="form-control"
										required
										placeholder="Your name"
										name="name"
									/>
								</div>
								<div class="form-group pt-3">
									<input
										type="email"
										class="form-control"
										required
										placeholder="Your email address"
										name="email"
									/>
								</div>
								<div class="form-group pt-3">
									<input
										type="text"
										class="form-control"
										required
										placeholder="Your college name"
										name="college"
									/>
								</div>
								<div class="form-group pt-3">
									<input
										type="text"
										class="form-control"
										required
										placeholder="Branch"
										name="branch"
									/>
								</div>
								<div class="form-group pt-3">
									<input
										type="text"
										class="form-control"
										required
										placeholder="Mobile number"
										name="contact"
										pattern="[\s0-9+-]{10,15}"
										title="Please enter valid mobile number"
									/>
								</div>
								<div class="form-group pt-3">
									<input
										type="password"
										class="form-control"
										required
										placeholder="Your password"
										name="password"
									/>
								</div>
								<div class="form-group pt-3">
									<input
										type="password"
										class="form-control"
										required
										placeholder="Confirm password"
										name="passwordCheck"
									/>
								</div>
								<div class="d-grid gap-2 pb-2 text-center">
									<button
										type="submit"
										class="
											btn btn-round
											signUp-button
											text-white
											mt-3
										"
										id="register-btn"
									>
										Register
									</button>
								</div>
								<div
									class="modal-footer justify-content-center py-1"
								>
									<div class="signup-section pb-0">
										Already a member?
										<a href="#a" class="text-info"> Sign In!</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
	<script>
		document.getElementById('register').addEventListener('submit', (event)=>{

			document.getElementById('register-btn').setAttribute("disabled", "");
			document.getElementById('err-alert').classList.add('d-none');

			event.preventDefault();
			var form = new FormData(document.getElementById('register'));
			var formBody = [];
			for (var key of form.keys()) {
				var encodedKey = encodeURIComponent(key);
				var encodedValue = encodeURIComponent(form.get(key));
				formBody.push(encodedKey + '=' + encodedValue);
			}
			formBody = formBody.join('&');
	
			fetch('/auth/signup', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					},
					body: formBody
				})
					.then((response) => response.json())
					.then((data) => {
						if(data.message == 'please verify your email.'){
							location.reload();
						}
						else{
							document.getElementById('alert-text').innerHTML = data.message;
							document.getElementById('err-alert').classList.remove('d-none');
							document.getElementById('register-btn').removeAttribute("disabled", "");
						}
						console.log(data);
					})
					.catch((error) => {
						console.log(error);
					});
		})
	</script>
</html>
