<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Meta tag Keywords -->
        <meta
            name="description"
            content="Image Gallery of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <meta
            name="keywords"
            content="IEEE, ieee, sies, gst, siesgst, official, student, website, gallery, photo, images"
        />
        <!--whatsapp and fb-->
        <meta
            property="og:description"
            content="Image Gallery of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <meta property="og:image:alt" content="Image Gallery of IEEE SIES GST" />
        <!--twitter-->
        <meta
            property="twitter:description"
            content="Image Gallery of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <!-- //Meta tag Keywords -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
        
		<%- include('./partials/head-tag.ejs') %>
	</head>
	<body class="gallery-events-bg">
        <%- include('./partials/navbar.ejs') %>
		<div class="container align-items-center">
			<h3 class="text-center pb-5 fs-1 about-headlines fw-bolder p-5">
				<span class="position-relative underline-overall-orange"
					>Gallery</span
				>
			</h3>
			<div class="grid d-flex">
				<!-- .grid-item will populate these -->
				<div class="gPic-col gPic-col--1"></div>
				<div class="gPic-col gPic-col--2"></div>
				<div class="gPic-col gPic-col--3"></div>
				<div class="gPic-col gPic-col--4"></div>

				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/sameer.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span>SAMEER VISIT</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								MTT-S members of IEEE SIES GST got the
								opportunity to visit the Society of Applied
								Microwave and Electronic Engineering Research
								(SAMEER) in Kharghar, Navi Mumbai. More on
								<a href="#" class="text-white">MTT-S</a> MTT-S
								members of IEEE SIES GST got the opportunity to
								visit the Society of Applied Microwave and
								Electronic Engineering Research (SAMEER) in
								Kharghar, Navi Mumbai. More on
								<a href="#" class="text-white">MTT-S</a>
							</div>
						</div>
					</div>
				</div>
				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/stem_lec.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span class="pt-1">SAMEER VISIT</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								MTT-S members of IEEE SIES GST got the
								opportunity to visit the Society of Applied
								Microwave and Electronic Engineering Research
								(SAMEER) in Kharghar, Navi Mumbai. More on
								<a href="#" class="text-white">MTT-S</a> MTT-S
								members of IEEE SIES GST got the opportunity to
								visit the Society of Applied Microwave and
								Electronic Engineering Research (SAMEER) in
								Kharghar, Navi Mumbai. More on
								<a href="#" class="text-white">MTT-S</a>
							</div>
						</div>
					</div>
				</div>
				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/panel.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span class="pt-1">Image Title</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Ispum Lorem
								Ispum Lorem Ispum Lorem Ispum
							</div>
						</div>
					</div>
				</div>
				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/aisywc.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span class="pt-1">Image Title</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Ispum Lorem
								Ispum Lorem Ispum Lorem Ispum
							</div>
						</div>
					</div>
				</div>
				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/magazine.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span class="pt-1">Image Title</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Ispum Lorem
								Ispum Lorem Ispum Lorem Ispum
							</div>
						</div>
					</div>
				</div>
				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/aisywc.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span class="pt-1">Image Title</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Ispum Lorem
								Ispum Lorem Ispum Lorem Ispum
							</div>
						</div>
					</div>
				</div>
				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/magazine.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span class="pt-1">Image Title</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Ispum Lorem
								Ispum Lorem Ispum Lorem Ispum
							</div>
						</div>
					</div>
				</div>
				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/magazine.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span class="pt-1">Image Title</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Ispum Lorem
								Ispum Lorem Ispum Lorem Ispum
							</div>
						</div>
					</div>
				</div>
				<div
					class="
						grid-item
						gallery-item
						animate__animated animate__backInDown animate__slow
					"
				>
					<div class="gallery-hover">
						<div class="img-thumbnail">
							<img
								src="/images/magazine.jpg"
								class="w-100"
								alt=""
							/>
						</div>
						<div class="gallery-content text-center">
							<div class="gallery-headline">
								<span class="pt-1">SAMEER VISIT</span>
							</div>
							<div class="gallery-desc pt-2 p-4">
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Lorem Ispum
								Lorem Ispum Lorem Ispum Lorem Ispum Ispum Lorem
								Ispum Lorem Ispum Lorem Ispum
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form>
			<div class="text-center fs-5 p-5">
				<div class="gallery-pagination rounded-pill text-center">
					<a href="#" class="text-decoration-none pt-2"
						><i
							class="fa fa-chevron-left pagination-icon"
							aria-hidden="true"
						></i>
						&nbsp; <span class="page-line"></span
					></a>
					&nbsp;

					<label
						><input
							type="text"
							value="2"
							size="1"
							class="no-outline pagination-box text-center"
					/></label>
					<span class="">of </span>
					<span class="text-center p-1">6</span>

					<!-- &nbsp; -->
					<span class="page-line pe-2"></span>
					&nbsp;
					<a href="#" class="text-decoration-none">
						<span class=""
							><i
								class="fa fa-chevron-right pagination-icon"
								aria-hidden="true"
							></i></span
					></a>
				</div>
			</div>
		</form>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/colcade@0/colcade.js"></script>
		<script>
			var colc = new Colcade('.grid', {
				columns: '.gPic-col',
				items: '.grid-item'
			});
		</script>
        <%- include('./partials/footer.ejs') %>
	</body>
</html>
