<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<link
			href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<!-- tiny slider -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
		<!-- ---- -->

		<title>Document</title>
		<style>
			/* -----------------------------------------------HOME PAGE----------------------------------------------- */
			body {
				font-family: 'Roboto';
			}
			.homev1 {
				border-left: 3px solid #111722;
				height: 480px;
				top: 10px;
				left: 30px;
			}
			.homev2 {
				border-left: 3px solid #111722;
				height: 420px;
				top: 30px;
				left: 50px;
			}
			.homev3 {
				border-left: 3px solid #111722;
				height: 480px;
				top: 10px;
				right: 30px;
			}
			.homev4 {
				border-left: 3px solid #111722;
				height: 420px;
				top: 30px;
				right: 50px;
			}
			.circleCount {
				border: dashed #ffcc66;
				border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				width: 100px;
				animation: spin 10s linear infinite;
			}
			@keyframes spin {
				100% {
					transform: rotateZ(360deg);
				}
			}
			.about-us {
				background-repeat: no-repeat;
				background-size: cover;
				color: #111722;
			}
			.about-text {
				max-width: 800px;
			}
			/* -----Home Flagship----- */
			.home-flagShip {
				background: linear-gradient(#111722 20%, #2e3344 110%);
			}
			.flagShipv1 {
				border-left: 3px solid #111722;
				height: 220px;
				left: 160px;
			}
			.flagShipv2 {
				border-left: 3px solid #111722;
				height: 220px;
				right: 160px;
			}
			@media screen and (min-width: 1000px) {
				.flagImg {
					width: 100%;
					height: 310px;
				}
			}
			/* -- Home Events-- */
			.eventv1 {
				border-left: 3px solid #111722;
				height: 350px;
				top: 10px;
				left: 30px;
			}
			.eventv2 {
				border-left: 3px solid #111722;
				height: 150px;
				top: 50px;
				left: 50px;
			}
			.home-events {
				color: #111722;
				background: linear-gradient(#2e3344 10%, #111722 70%);
				min-height: 600px;
			}
			.homeEvent-bg {
				min-height: 400px;
			}
			.homeEvent-carousel {
				top: 250px;
			}
			@media screen and (min-width: 1000px) {
				.event-cardImg {
					width: 100%;
					height: 190px;
				}
			}
			@media screen and (min-width: 1200px) {
				.homeEvent-carousel {
					left: 80px;
					width: 980px;
					top: 210px;
				}
			}
			@media screen and (min-width: 800px) and (max-width: 990px) {
				.homeEvent-carousel {
					top: 270px;
					left: -3px;
				}
			}
			@media screen and (max-width: 800px) {
				.homeEvent-carousel {
					left: 2px;
				}
			}
			.event-slideBtn:hover {
				cursor: pointer;
				opacity: 0.8;
			}
			/* ---sub---- */
			.subv1 {
				border-left: 3px solid #111722;
				height: 420px;
				right: 255px;
			}
			@media screen and (min-width: 1090px) and (max-width: 1199px) {
				.subv1 {
					border-left: 3px solid #111722;
					height: 420px;
					right: 209px;
				}
			}
			@media screen and (min-width: 970px) and (max-width: 1090px) {
				.subv1 {
					border-left: 3px solid #111722;
					height: 420px;
					right: 206px;
				}
			}
			.subList {
				list-style-type: none;
			}
			.subName1 {
				border: solid #111722;
				background-color: #111722;
			}
			.subName2 {
				border: solid #ffcc66;
				background-color: #ffcc66;
			}
			.subName1:hover {
				cursor: pointer;
				background-color: #323b4b;
				transition: background-color 1s;
			}
			.subName2:hover {
				cursor: pointer;
				background-color: #ffbd3a;
				transition: background-color 1s;
			}
			.active-sub2 {
				cursor: pointer;
				background-color: #ffbd3a;
			}
			.active-sub1 {
				cursor: pointer;
				background-color: #323b4b;
			}
			@media screen and (min-width: 1000px) {
				.sub-img {
					width: 600px;
					height: 400px;
				}
			}
			@media screen and (min-width: 1200px) {
				.subImgv1 {
					border-left: 3px solid #111722;
					height: 220px;
					right: 95px;
					top: 90px;
				}
				.subImgv2 {
					border-left: 3px solid #111722;
					height: 220px;
					left: 95px;
					top: 90px;
				}
			}
			.home-subChp {
				color: #111722;
				/* border: solid; */
			}
		</style>
        <script>function changeImage(i, sub) {
            document
                .getElementById('home-subImg')
                .setAttribute('src', `/images/sub-${i}.jpg`);
            document.getElementById(sub[3]).classList.add('active-sub');
            for (var i = 0; i < 3; i++) {
                document
                    .getElementById(sub[i])
                    .classList.remove('active-sub');
                if (
                    document.getElementById(sub[3]).classList[6] ==
                    'subName2'
                ) {
                    document
                        .getElementById(sub[i])
                        .classList.remove('active-sub2', 'active-sub1');
                    document
                        .getElementById(sub[3])
                        .classList.toggle('active-sub2');
                } else {
                    {
                        document
                            .getElementById(sub[i])
                            .classList.remove('active-sub2', 'active-sub1');
                        document
                            .getElementById(sub[3])
                            .classList.toggle('active-sub1');
                    }
                }
            }
        }</script>
		<!-- <link rel="stylesheet" href="./assets/css/homeV2.css" /> -->
	</head>
	<body>
        <%- include('./partials/home-navbar.ejs') %>
		
		<section class="about-us my-4 position-relative">
            <div class="homev1 position-absolute d-none d-lg-block"></div>
            <div class="homev2 position-absolute d-none d-lg-block"></div>
            <div class="homev3 position-absolute d-none d-lg-block"></div>
            <div class="homev4 position-absolute d-none d-lg-block"></div>
			<div class="text-center pt-4 fs-3 fw-bold">ABOUT US</div>
			<div class="text-center pt-4 px-4 container px-lg-5 about-text">
				IEEE SIESGST. One of the most vibrant and largest Student Branch
				in the Bombay Section, IEEE SIESGST have made a significant mark
				for itself over the years.
				<p class="pt-4">
					IEEE SIESGST. One of the most vibrant and largest Student
					Branch in the Bombay Section......
				</p>
			</div>
			<div class="container Homecount">
				<div class="row">
					<div
						class="
							col
							m-5
							text-center
							animate__animated animate__fadeIn
						"
					>
						<div class="circleCount d-inline-block">
							<i
								class="bx bxs-user bx-lg home-countImg m-4"
								style="color: #ffcc66"
							></i>
						</div>
						<div class="fs-5 fw-bold m-3 d-inline-block">
							<span class="count">150</span>+
							<p>Members</p>
						</div>
					</div>
					<div
						class="
							col
							m-5
							text-center
							animate__animated animate__fadeIn
						"
					>
						<div class="circleCount d-inline-block">
							<i
								class="bx bxs-award bx-lg home-countImg m-4"
								style="color: #ffcc66"
							></i>
						</div>
						<div class="fs-5 fw-bold m-3 d-inline-block">
							<span class="count">50</span>+
							<p>Awards</p>
						</div>
					</div>
					<div
						class="
							col
							m-5
							text-center
							animate__animated animate__fadeIn
						"
					>
						<div class="circleCount d-inline-block">
							<i
								class="
									bx
									bxs-calendar-event
									bx-lg
									home-countImg
									m-4
								"
								style="color: #ffcc66"
							></i>
						</div>
						<div class="fs-5 fw-bold m-3 d-inline-block">
							<span class="count">10</span>+
							<p>Events</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="home-flagShip pb-5 mt-5">
			<div class="text-center pt-5 pb-4 fs-3 fw-bold text-white">
				OUR FLAGSHIP EVENTS
			</div>
			<div class="container" style="max-width: 1000px">
				<div class="text-black text-center mt-4 bg-white">
					<div class="row g-0">
						<div class="col-lg-6 col-12 d-flex align-items-center">
							<div class="px-4 fs-6 py-3">
								<div
									class="
										flagShipv1
										position-absolute
										d-none d-xl-block
									"
								></div>
								<p class="fs-4 fw-bold">Techopedia</p>
								IEEE SIESGST. One of the most vibrant and
								largest Student Branch in the Bombay Section,
								IEEE SIESGST have made a significant mark for
								itself over the years. IEEE SIESGST. One of the
								most vibrant and largest Student Branch in the
								Bombay Section......
							</div>
						</div>
						<div class="col-lg-6 col-12 py-1 py-lg-0">
							<img
								src="/images/blue.jpg"
								class="img-fluid flagImg"
							/>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-lg-6 col-12 py-1 py-lg-0">
							<img
								src="/images/blue.jpg"
								class="img-fluid flagImg"
							/>
						</div>
						<div class="col-lg-6 col-12 d-flex align-items-center">
							<div class="px-4 fs-6 py-3">
								<div
									class="
										flagShipv2
										position-absolute
										d-none d-xl-block
									"
								></div>
								<p class="fs-4 fw-bold">Epsilon</p>
								IEEE SIESGST. One of the most vibrant and
								largest Student Branch in the Bombay Section,
								IEEE SIESGST have made a significant mark for
								itself over the years. IEEE SIESGST. One of the
								most vibrant and largest Student Branch in the
								Bombay Section......
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="home-events pt-5 px-5">
			<div class="container bg-white homeEvent-bg position-relative">
				<div class="eventv1 position-absolute d-none d-lg-block"></div>
				<div class="eventv2 position-absolute d-none d-lg-block"></div>
				<div class="container pt-2 pt-md-5">
					<div class="row text-lg-start text-center ms-lg-4">
						<div class="col-lg-4 col-12 ms-lg-5 ms-0 py-2">
							<div class="fs-3 fw-bold">OUR EVENTS</div>
						</div>
						<div class="col-lg-4 col-12 py-2">
							<div class="fs-6 px-4">
								some randome sentence... Get a look at our
								Ongoing and Upcoming Events!
							</div>
						</div>
					</div>
					<div class="row text-lg-start text-center ms-lg-4">
						<div
							class="col-lg-4 col-12 ms-lg-5 ms-0 py-2"
							id="controls"
						>
							<span class="previous">
								<i
									class="
										bx
										bxs-left-arrow-circle
										bx-md
										event-slideBtn
									"
									style="color: #ffcc66"
								></i>
							</span>

							<span class="next">
								<i
									class="
										bx
										bxs-right-arrow-circle
										bx-md
										event-slideBtn
									"
									style="color: #111722"
								></i>
							</span>
						</div>
					</div>
				</div>
				<div class="container position-absolute homeEvent-carousel">
					<div class="my-slider event-carousel">
						<div>
							<div class="card mx-3">
								<img
									src="/images/blue.jpg"
									class="card-img-top event-cardImg"
									alt="..."
								/>
								<div class="card-body">
									<p class="card-text">
										<span>ABCD</span>
										<span
											><i
												class="
													bx
													bxs-right-arrow
													bx-xs
													event-slideBtn
												"
												style="color: #111722"
											></i
										></span>
									</p>
								</div>
							</div>
						</div>
						<div>
							<div class="card mx-3">
								<img
									src="/images/blue.jpg"
									class="card-img-top event-cardImg"
									alt="..."
								/>
								<div class="card-body">
									<span>XXXPPP</span>
									<span
										><i
											class="
												bx
												bxs-right-arrow
												bx-xs
												event-slideBtn
											"
											style="color: #111722"
										></i
									></span>
								</div>
							</div>
						</div>
						<div>
							<div class="card mx-3">
								<img
									src="/images/blue.jpg"
									class="card-img-top event-cardImg"
									alt="..."
								/>
								<div class="card-body">
									<span>MTTS</span>
									<span
										><i
											class="
												bx
												bxs-right-arrow
												bx-xs
												event-slideBtn
											"
											style="color: #111722"
										></i
									></span>
								</div>
							</div>
						</div>
						<div>
							<div class="card mx-3">
								<img
									src="/images/blue.jpg"
									class="card-img-top event-cardImg"
									alt="..."
								/>
								<div class="card-body">
									<span>TECHO</span>
									<span
										><i
											class="
												bx
												bxs-right-arrow
												bx-xs
												event-slideBtn
											"
											style="color: #111722"
										></i
									></span>
								</div>
							</div>
						</div>
						<div>
							<div class="card mx-3">
								<img
									src="/images/blue.jpg"
									class="card-img-top event-cardImg"
									alt="..."
								/>
								<div class="card-body">
									<span>EPSILON</span>
									<span
										><i
											class="
												bx
												bxs-right-arrow
												bx-xs
												event-slideBtn
											"
											style="color: #111722"
										></i
									></span>
								</div>
							</div>
						</div>
						<div>
							<div class="card mx-3">
								<img
									src="/images/blue.jpg"
									class="card-img-top event-cardImg"
									alt="..."
								/>
								<div class="card-body">
									<span>SSTTYY</span>
									<span
										><i
											class="
												bx
												bxs-right-arrow
												bx-xs
												event-slideBtn
											"
											style="color: #111722"
										></i
									></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="home-subChp shadow-lg py-3 m-4">
			<div class="container">
				<div
					class="
						row
						justify-content-end
						text-lg-start text-center
						ms-lg-4
						mb-4
					"
				>
					<div class="col-lg-4 col-12 ms-lg-5 ms-0 py-2">
						<div class="fs-3 fw-bold">SUBCHAPTERS</div>
					</div>
				</div>

				<div class="row text-center gx-3" id="xx">
					<div
						class="
							col-12 col-lg-9
							order-lg-first order-last
							my-2
							position-relative
						"
					>
						<div
							class="
								subImgv1
								position-absolute
								d-none d-lg-block
								py-3
							"
						></div>
						<div
							class="
								subImgv2
								position-absolute
								d-none d-lg-block
								py-3
							"
						></div>

						<img
							src="/images/sub-1.jpg"
							class="
								img-fluid
								sub-img
								animate__animated animate__pulse
							"
							alt="..."
							id="home-subImg"
						/>
					</div>
					<div
						class="
							col-12 col-lg-3
							order-lg-last order-first
							position-relative
						"
					>
						<div
							class="
								subv1
								position-absolute
								d-none d-lg-block
								py-3
							"
						></div>

						<div class="container">
							<div class="row row-cols-4 mt-lg-5 text-white">
								<div
									class="
										col-lg-12 col-3
										p-2
										m-lg-3
										fs-6
										fw-bold
										subName1
									"
									id="wie"
								>
									WIE
								</div>
								<div
									class="
										col-lg-12 col-3
										p-2
										m-lg-3
										fs-6
										fw-bold
										subName2
									"
									id="mtts"
								>
									MTTs
								</div>
								<div
									class="
										col-lg-12 col-3
										p-2
										m-lg-3
										fs-6
										fw-bold
										subName1
									"
									id="isv"
								>
									ISV
								</div>
								<div
									class="
										col-lg-12 col-3
										p-2
										m-lg-3
										fs-6
										fw-bold
										subName2
									"
									id="cs"
								>
									CS
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <%- include('./partials/footer.ejs') %>
		<script>
			let slider = tns({
				container: '.my-slider',
				items: 1,
				slideBy: 'page',
				autoplay: true,
				mouseDrag: 'mouseDrag',
				autoplayButtonOutput: false,
				nav: false,
				controlsContainer: '#controls',
				prevButton: '.previous',
				nextButton: '.next',
				center: true,
				responsive: {
					300: {
						items: 1
					},
					570: {
						items: 2
					},
					800: {
						items: 3
					}
				}
			});

			

			document
				.getElementById('wie')
				.classList.add('active-sub', 'active-sub1');

			document.getElementById('wie').addEventListener('click', () => {
				changeImage(1, ['mtts', 'cs', 'isv', 'wie']);
			});
			document.getElementById('mtts').addEventListener('click', () => {
				changeImage(2, ['wie', 'cs', 'isv', 'mtts']);
			});
			document.getElementById('cs').addEventListener('click', () => {
				changeImage(3, ['wie', 'mtts', 'isv', 'cs']);
			});
			document.getElementById('isv').addEventListener('click', () => {
				changeImage(2, ['wie', 'mtts', 'cs', 'isv']);
			});
		</script>
	</body>
</html>
