<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Meta tag Keywords -->
        <meta
            name="description"
            content="Teams of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <meta
            name="keywords"
            content="IEEE, ieee, sies, gst, siesgst, official, student, website, our teams, Teams"
        />
        <!--whatsapp and fb-->
        <meta
            property="og:description"
            content="Teams of IEEE student chapter of SIES GST, Navi Mumbai."
        />
				<meta property="og:url" content="https://ieeesiesgst.in/teams" />
        <meta property="og:image:alt" content="Teams of IEEE SIES GST" />
        <!--twitter-->
        <meta
            property="twitter:description"
            content="Teams of IEEE student chapter of SIES GST, Navi Mumbai."
        />
        <!-- //Meta tag Keywords -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        
        <%- include('./partials/head-tag.ejs') %>
	</head>
	<body class="teams-bg">
        <%- include('./partials/navbar.ejs') %>
		<h3
			class="
				text-center
				fs-1
				about-headlines
				fw-bolder
				ps-5
				pe-5
				pt-5
				mb-0
			"
		>
			<span class="position-relative underline-overall-orange"
				>Meet Our Team</span
			>
		</h3>
		<div class="container pb-5">
			<div class="row align-items-center">
				<div
					class="col-lg-2 col-md-12 col-sm-12 px-0 order-lg-0 order-1"
				>
					<div class="row m-0 justify-content-center">
						<div class="col-lg-12 col-md-3 col-sm-4 px-sm-1 px-3">
							<div
								onclick="location.href='/teams/design'"
								class="all-team-div p-3 mt-2 teams-bg-design"
							>
								<div
									class="all-team-name text-center py-4 px-2"
								>
									<p class="py-2 m-0">Design</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-3 col-sm-4 px-sm-1 px-3">
							<div
								onclick="location.href='/teams/creative'"
								class="all-team-div p-3 mt-2 teams-bg-creative"
							>
								<div
									class="all-team-name text-center py-4 px-2"
								>
									<p class="py-2 m-0">Creative</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-3 col-sm-4 px-sm-1 px-3">
							<div
								onclick="location.href='/teams/media'"
								class="all-team-div p-3 mt-2 teams-bg-media"
							>
								<div
									class="all-team-name text-center py-4 px-2"
								>
									<p class="py-2 m-0">Media</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-8 col-md-12 px-0 order-lg-1 order-0">
					<div class="row align-items-center mx-0">
						<div
							class="
								col-lg-3 col-md-12
								pt-lg-5
								mt-lg-5
								px-0
								order-lg-0 order-1
							"
						>
							<div class="row m-0 justify-content-center">
								<div
									class="
										col-lg-12 col-md-3 col-sm-4
										px-sm-1 px-3
									"
								>
									<div
										onclick="location.href='/teams/mtts'"
										class="all-team-div p-3 mt-2 teams-bg-mtts"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2
											"
										>
											<p class="py-2 m-0">
												MTT-S
												<span class="d-sm-none">
													Subchapter
												</span>
											</p>
										</div>
									</div>
								</div>
								<div
									class="
										col-lg-12 col-md-3 col-sm-4
										px-sm-1 px-3
									"
								>
									<div
										onclick="location.href='/teams/wie'"
										class="all-team-div p-3 mt-2 teams-bg-wie"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2
											"
										>
											<p class="py-2 m-0">
												W. I. E.
												<span class="d-sm-none">
													Subchapter
												</span>
											</p>
										</div>
									</div>
								</div>
								<div
									class="
										col-lg-12 col-md-3 col-sm-4
										px-sm-1 px-3
									"
								>
									<div
										onclick="location.href='/teams/cs'"
										class="all-team-div p-3 mt-2 teams-bg-cs"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2
											"
										>
											<p class="py-2 m-0">
												C. S.
												<span class="d-sm-none">
													Subchapter
												</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-12 px-0 order-lg-1 order-0">
							<div class="row align-items-center mx-0">
								<div
									class="
										col-lg-6 col-md-3 col-sm-6
										pt-5
										px-sm-1 px-3
									"
								>
									<div
										onclick="location.href='/teams/core'"
										class="
											all-team-div
											p-3
											mt-2
											mb-lg-2
											teams-bg-core
										"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2 position-relative
											"
										>
											<p class="py-2 m-0">Core</p>
											<!-- <div class="teamv1 position-absolute d-block d-md-none"></div>
											<div class="teamv2 position-absolute d-block d-md-none"></div>
											<div class="teamv3 position-absolute d-block d-md-none"></div>
											<div class="teamv4 position-absolute d-block d-md-none"></div> -->
										</div>
									</div>
								</div>

								<div
									class="
										col-lg-6 col-md-3 col-sm-6
										pt-sm-5
										px-sm-1 px-3
									"
								>
									<div
										onclick="location.href='/teams/faculty'"
										class="
											all-team-div
											p-3
											mt-2
											mb-lg-2
											teams-bg-faculty
										"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2
											"
										>
											<p class="py-2 m-0">Faculty</p>
										</div>
									</div>
								</div>

								<div
									class="
										col-lg-6 col-md-3 col-sm-6
										px-sm-1 px-3
										pt-lg-0 pt-md-5
									"
								>
									<div
										onclick="location.href='/teams/tech'"
										class="
											all-team-div
											p-3
											mb-lg-2
											mt-2 mt-lg-0
											teams-bg-tech
										"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2
											"
										>
											<p class="py-2 m-0">Technical</p>
										</div>
									</div>
								</div>

								<div
									class="
										col-lg-6 col-md-3 col-sm-6
										px-sm-1 px-3
										pt-lg-0 pt-md-5
									"
								>
									<div
										onclick="location.href='/teams/pr'"
										class="
											all-team-div
											p-3
											mb-lg-2
											mt-2 mt-lg-0
											teams-bg-pr
										"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2
											"
										>
											<p
												class="
													py-2
													m-0
												"
											>
												P. R.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div
							class="
								col-lg-3 col-md-12 col-sm-12
								pt-lg-5
								mt-lg-5
								px-0
								order-last
							"
						>
							<div class="row m-0">
								<div
									class="
										col-lg-12 col-md-4 col-sm-4
										px-sm-1 px-3
									"
								>
									<div
										onclick="location.href='/teams/isv'"
										class="all-team-div p-3 mt-2 teams-bg-isv"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2
											"
										>
											<p class="py-2 m-0">I. S. V.</p>
										</div>
									</div>
								</div>
								<div
									class="
										col-lg-12 col-md-4 col-sm-4
										px-sm-1 px-3
									"
								>
									<div
										onclick="location.href='/teams/jsec'"
										class="all-team-div p-3 mt-2 teams-bg-secretary"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2 position-relative
											"
										>
											<p class="py-2 m-0">Secretary</p>
											<!-- <div class="teamv1 position-absolute d-block d-md-none"></div>
											<div class="teamv2 position-absolute d-block d-md-none"></div>
											<div class="teamv3 position-absolute d-block d-md-none"></div>
											<div class="teamv4 position-absolute d-block d-md-none"></div> -->
										</div>
									</div>
								</div>
								<div
									class="
										col-lg-12 col-md-4 col-sm-4
										px-sm-1 px-3
									"
								>
									<div
										onclick="location.href='/teams/treasurer'"
										class="all-team-div p-3 mt-2 teams-bg-treasurer"
									>
										<div
											class="
												all-team-name
												text-center
												py-4
												px-2
											"
										>
											<p class="py-2 m-0">Treasurers</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-md-12 col-sm-12 px-0 order-last">
					<div class="row m-0 justify-content-center">
						<div class="col-lg-12 col-md-4 col-sm-4 px-sm-1 px-3">
							<div
								onclick="location.href='/teams/publicity'"
								class="all-team-div p-3 mt-2 teams-bg-publicity"
							>
								<div
									class="all-team-name text-center py-4 px-2"
								>
									<p class="py-2 m-0">Publicity</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-4 col-sm-4 px-sm-1 px-3">
							<div
								onclick="location.href='/teams/admin'"
								class="all-team-div p-3 mt-2 teams-bg-admin"
							>
								<div
									class="all-team-name text-center py-4 px-2"
								>
									<p class="py-2 m-0">Admin</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-4 col-sm-4 px-sm-1 px-3">
							<div
								onclick="location.href='/teams/mdo'"
								class="all-team-div p-3 mt-2 teams-bg-mdo"
							>
								<div
									class="all-team-name text-center py-4 px-2"
								>
									<p class="py-2 m-0">M. D. O.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
