<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head-tag.ejs') %>
</head>
<body>
    <%- include('./partials/home-navbar.ejs') %>

    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <%- include('homeMid.ejs') %>


    <%- include('./partials/footer.ejs') %>
</body>
</html>