/* --------HOME PAGE --------- */
.underline-overall-white::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #fff;
}
.underline-overall-black::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #000;
}
.underline-overall-orange::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #ce5841;
}
.home-about {
	scroll-behavior: smooth;
	background-color: #fff;
}
.home-events {
	background: url('../images/orange.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.btn-slide {
	border: 2px solid #ce5841;
	border-radius: 10px;
	display: block;
	align-items: center;

	text-decoration: none;
	font-size: 14px;
	color: black;
	font-family: 'Lora';
	box-shadow: inset 0 0 0 #ce5841;
	/* -webkit-transition: ease-out0.4s; */
	/* -moz-transition: ease-out 0.4s; */
	transition: ease-out 0.4s;
}
.btn-slide:hover {
	box-shadow: inset 0 100px 0 0 #ce5841;
	text-decoration: none;
	color: white;
}
.about-headlines {
	font-family: 'Roboto';
}
.about-content {
	font-family: 'Lora';
}
.about-number {
	font-family: 'Lora';
	font-weight: bold;
}
.control-btn:hover {
	cursor: pointer;
	color: white;
}

/*----------Home-Sub chapter --------------*/
.homeMid-text {
	font-family: 'Lora';
}
.sub-l-col {
	background-color: #424242;
	border-radius: 15px 0px 0px 15px;
	/* box-shadow: 10px 10px grey; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sub-r-col {
	background-color: #c4c4c4;
	font-size: x-large;
	border-radius: 0px 15px 15px 0px;
	/* box-shadow: 10px 10px grey; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sub-img {
	opacity: 0.3;
}
.sub-text {
	font-size: 2.5vw;
	font-family: 'Lora';
}
.sub-chp {
	font-family: 'Lora';
	font-weight: 200;
}
.active-sub,
.sub-btn:hover {
	color: #f1f0ec;
	cursor: pointer;
	background-color: #424242;
	outline: 13px solid #424242;
	outline-offset: -1px;
	font-family: 'Lora';
}
@media screen and (max-width: 280px) {
	.active-sub,
	.sub-btn:hover {
		outline: 5px solid #424242;
		font-family: 'Lora';
	}
}
@media screen and (max-width: 576px) {
	.sub-l-col {
		border-radius: 15px 15px 0px 0px;
	}
	.sub-r-col {
		border-radius: 0px 0px 15px 15px;
	}
	.active-sub,
	.sub-btn:hover {
		outline: 5px solid #424242;
		font-family: 'Lora';
	}
}

/*----------------- EVENTS PAGE --------------*/
.events-bg {
	/* background: url('../images/bg-events.png'); */
	background: linear-gradient(rgba(22, 22, 22, 0.1), rgba(100, 99, 99, 0.3)),
		url('../images/backgruond-events.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.events-container {
	background: #eeeeee;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}
.events-bg-img {
	background: #e5e5e5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.events-desc {
	/* font-family: 'Lora'; */
	font-style: normal;
	color: #000000;
	font-size: 14px;
	line-height: 21px;
}
.btn-events {
	border: 2px solid #ce5841;
	font-size: 14px;
	font-family: 'Lora';
	display: inline-flex;
	background: #ce5841;
	text-decoration: none;
}
.btn-events:hover {
	cursor: pointer;
	box-shadow: 3px 3px 1px grey;
}
.event-head {
	font-family: 'Roboto';
}
.event-tail {
	font-family: 'Lora';
}
