*:focus {
	outline: none;
}

.cursor-pointer {
	cursor: pointer;
}

audio:focus,
video:focus {
	outline: none;
}

/* --------HOME PAGE --------- */
.underline-overall-white::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #fff;
}
.underline-overall-black::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #000;
}
.underline-overall-orange::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #ce5841;
}
.home-about {
	scroll-behavior: smooth;
	background-color: #fff;
}
.home-events {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../images/backgruond-events.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.btn-slide {
	display: block;
	align-items: center;
	text-decoration: none;
	font-size: 15px;
	background: #ce5841;
	cursor: pointer;
	color: white;
}
.btn-slide:hover {
	outline-offset: 3px;
	outline: 2px solid #ce5841;
	border: 2px solid #ce5841;
	color: black;
	background: #fff;
	transition: all 250ms;
}
.btn-slide:nth-child(2) {
	outline-offset: -4px;
}
.btn-slide:nth-child(2):hover {
	outline-offset: 4px;
}

/* ------------------------------------- */
.about-headlines {
	font-family: 'Roboto';
}
.about-content {
	font-family: 'Roboto';
}
.about-number {
	font-family: 'Roboto';
	font-weight: bold;
}
.control-btn:hover {
	cursor: pointer;
	color: white;
}

/*----------Home-Sub chapter --------------*/
.homeMid-text {
	font-family: 'Roboto';
}
.sub-l-col {
	background-color: #424242;
	border-radius: 15px 0px 0px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sub-r-col {
	background-color: #eeeeee;
	font-size: 20px;
	border-radius: 0px 15px 15px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sub-img {
	opacity: 0.3;
}
.sub-text {
	font-size: 2.5vw;
	font-family: 'Roboto';
}
.sub-chp {
	font-family: 'Roboto';
	font-weight: 200;
}
.sub-btn:hover {
	color: #f1f0ec;
	cursor: pointer;
	background-color: #5e5e5e;
	outline: 13px solid #5e5e5e;
	outline-offset: -1px;
	font-family: 'Roboto';
	transition: all ease-out 0.2s;
}
.active-sub {
	color: #f1f0ec;
	cursor: pointer;
	background-color: #424242;
	outline: 13px solid #424242;
	outline-offset: -1px;
	font-family: 'Roboto';
}
@media screen and (max-width: 280px) {
	.sub-btn:hover {
		outline: 5px solid #5e5e5e;
		font-family: 'Roboto';
	}
	.active-sub {
		outline: 5px solid #424242;
		font-family: 'Roboto';
	}
}
@media screen and (max-width: 576px) {
	.sub-text {
		font-size: 3.5vw;
		font-family: 'Roboto';
	}
	.sub-l-col {
		border-radius: 15px 15px 0px 0px;
	}
	.sub-r-col {
		border-radius: 0px 0px 15px 15px;
	}
	.sub-btn:hover {
		outline: 5px solid #5e5e5e;
		font-family: 'Roboto';
	}
	.active-sub {
		outline: 5px solid #424242;
		font-family: 'Roboto';
	}
}

/*----------------- EVENTS PAGE --------------*/
.events-bg {
	background: linear-gradient(rgba(22, 22, 22, 0.1), rgba(100, 99, 99, 0.3)),
		url('../images/backgruond-events.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.events-container {
	background: #eeeeee;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}
.events-bg-img {
	background: #e5e5e5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.events-desc {
	font-style: normal;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
}
.btn-events {
	border: 2px solid #ce5841;
	font-size: 15px;
	font-family: 'Roboto';
	display: inline-flex;
	background: #ce5841;
	text-decoration: none;
	cursor: pointer;
	color: white;
}
.btn-events:hover {
	cursor: pointer;
	outline-offset: 3px;
	outline: 2px solid #ce5841;
	border: 2px solid #ce5841;
	color: black;
	background: #eeee;
	transition: all 250ms;
}
.home-carousel {
	max-width: 400px;
}
.event-head {
	font-family: 'Roboto';
}
.event-tail {
	font-family: 'Roboto';
}
/*----------GALLERY PAGE ---------*/
.gallery-events-bg {
	/* background: linear-gradient(rgba(22, 22, 22, 0.1), rgba(100, 99, 99, 0.3)),
		url('../images/bg-events1.png'); */
	background-color: #eeee;
	background-repeat: no-repeat;
	background-size: cover;
}

.gallery-content {
	opacity: 0;
	transition: 0.2s;
	background: rgba(0, 0, 0, 0.75);
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
	font-family: 'Roboto';
}

.gallery-item {
	border-radius: 10px;
}

.gallery-item:hover .gallery-content {
	opacity: 1;
}

.gallery-title {
	border-bottom: 1px solid #666;
}

.gallery-modal-img {
	width: 100%;
	height: auto;
}

.gallery-modal-body {
	padding: 0px;
}

.gallery-pagination {
	background-color: #ffffff;
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 16px;
}

.gallery-loading-animation,
.gallery-loading-animation:before,
.gallery-loading-animation:after {
	background: #ffffff;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.gallery-loading-animation {
	color: #ffffff;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.gallery-loading-animation:before,
.gallery-loading-animation:after {
	position: absolute;
	top: 0;
	content: '';
}
.gallery-loading-animation:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.gallery-loading-animation:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -10em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -10em;
		height: 5em;
	}
}

.pagination-content {
	color: rgba(0, 0, 0);
}
.pagination-line {
	border-left: 2px solid #d3d3d3;
	height: 18px;
}

.pagination-box {
	border: 1px solid #d3d3d3;
	border-radius: 4px;

	background-color: #ffffff;
	width: 40px;
	background: transparent;
	/* color: white; */
}
.pagination-box:focus {
	outline: none;
	border: 1px solid #ce5841;
}

.pagination-disabled {
	opacity: 0.7;
}

.pagination-icon {
	color: #ce5841;
}
.pagination-icon:hover {
	color: #444444;
	transition: ease-in 0.5s;
}

.gallery-desc::-webkit-scrollbar {
	width: 4px;
}

/* Track */
.gallery-desc::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 8px;
}

/* Handle */
.gallery-desc::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 8px;
}

/* Handle on hover */
.gallery-desc::-webkit-scrollbar-thumb:hover {
	background: #555;
	border: 1px solid #666;
}

/* Chrome, Safari, Edge, Opera */
.pagination-box::-webkit-outer-spin-button,
.pagination-box::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.pagination-box {
	-moz-appearance: textfield;
}
/*-------------GALLERY PAGE ENDS-------*/
/* -----------CONTACT PAGE STARTS----- */
.contact-bg {
	background: linear-gradient(rgba(22, 22, 22, 0.1), rgba(100, 99, 99, 0.3)),
		url('../images/backgruond-events.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.contact-box {
	background-color: white;
}
.half-circle {
	clip-path: ellipse(99% 55% at 100% 10%);
	width: 130px;
	height: 130px;
	float: right;
	background-color: #e85c41;
}
@media (max-width: 350px) {
	.half-circle {
		width: 110px;
		height: 110px;
	}
}
.contact-head {
	padding-left: 60px;
	font-family: 'Roboto';
}
.input-space {
	border: none;
	border-bottom: 1px solid #000000;
	outline: none;
	background: transparent;
	width: 100%;
}
/* .input-space:focus {
	transition: ease text-indent 0.3s 0.3s;
	text-indent: -100%;
	opacity: 1;
} */
.input-space:hover {
	color: #ce5841;
	border-color: #ce5841;
}
.submit-contact {
	font-family: 'Roboto';
	display: inline-flex;
	background: #ce5841;
	text-decoration: none;
	cursor: pointer;
	color: white;
	border: none;
	border: 1px solid #ce5841;
}
.submit-contact:hover {
	outline-offset: -3px;
	outline: 2px solid white;
	border: 2px solid #ce5841;
	transition: all 150ms;
}
.contact-vertical {
	border-left: thin solid #ff0000;
}
.contact-r-text {
	font-family: 'Roboto';
}
/* .contact-loader {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
} */
/* .sending-loader {
	opacity: 0.7;
} */
#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
}
.line {
	animation: expand 1s ease-in-out infinite;
	border-radius: 10px;
	display: inline-block;
	transform-origin: center center;
	margin: 0 3px;
	width: 1px;
	height: 25px;
	top: 50%;
	position: absolute;
}
.line:nth-child(1) {
	background: #27ae60;
	left: 49%;
}
.line:nth-child(2) {
	animation-delay: 180ms;
	background: #f1c40f;
	left: 50%;
}
.line:nth-child(3) {
	animation-delay: 360ms;
	background: #e67e22;
	left: 51%;
}

.line:nth-child(4) {
	animation-delay: 540ms;
	background: #2980b9;
	left: 52%;
}
@media screen and (max-width: 650px) {
	.line:nth-child(1) {
		left: 50%;
	}
	.line:nth-child(2) {
		left: 52%;
	}
	.line:nth-child(3) {
		left: 54%;
	}
	.line:nth-child(4) {
		left: 56%;
	}
}
@keyframes expand {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(2);
	}
}
/* ---------------- CONTACT PAGE ENDS------------- */
