*:focus {
	outline: none;
}
.cursor-pointer {
	cursor: pointer;
}
audio:focus,
video:focus {
	outline: none;
}
body {
	font-family: 'Roboto';
}

/* -----------------------------------------------HOME PAGE STARTS----------------------------------------- */
.homev1 {
	border-left: 3px solid #111722;
	height: 480px;
	top: 10px;
	left: 30px;
}
.homev2 {
	border-left: 3px solid #111722;
	height: 420px;
	top: 30px;
	left: 50px;
}
.homev3 {
	border-left: 3px solid #111722;
	height: 480px;
	top: 10px;
	right: 30px;
}
.homev4 {
	border-left: 3px solid #111722;
	height: 420px;
	top: 30px;
	right: 50px;
}
.circleCount {
	border: dashed #ffcc66;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 100px;
}
.about-us {
	background-repeat: no-repeat;
	background-size: cover;
	color: #111722;
}
.about-text {
	max-width: 800px;
}
/* -----Home Flagship----- */
.home-flagShip {
	background: linear-gradient(#111722 20%, #2e3344 110%);
}
.flagShipv1 {
	border-left: 3px solid #111722;
	height: 220px;
	left: 15px;
}
.flagShipv2 {
	border-left: 3px solid #111722;
	height: 220px;
	right: 15px;
}
@media screen and (max-width: 991px) {
	.home-flag-img {
		max-width: 400px;
	}
}
@media screen and (min-width: 1000px) {
	.flagImg {
		width: 100%;
		height: 310px;
	}
}
/* -- Home Events-- */
.homeE-title {
	text-decoration: none;
}
.homeE-title:hover {
	font-weight: bold;
	transition: ease;
}
.eventv1 {
	border-left: 3px solid #111722;
	height: 350px;
	top: 10px;
	left: 30px;
}
.eventv2 {
	border-left: 3px solid #111722;
	height: 150px;
	top: 50px;
	left: 50px;
}
.home-events {
	color: #111722;
	background: linear-gradient(#2e3344 10%, #111722 70%);
	min-height: 600px;
}
.homeEvent-bg {
	min-height: 400px;
}

@media (max-width: 800px) {
	.homeEvent-bg {
		min-height: 300px;
	}
	.home-events {
		min-height: 560px;
	}
}

@media (max-width: 620px) {
	.home-events {
		min-height: 460px;
	}
}

@media (max-width: 450px) {
	.homeEvent-bg {
		min-height: 250px;
	}
	.home-events {
		min-height: 440px;
	}
}

.homeCarousel {
	top: 30%;
}
.eventCard {
	width: 500px;
	height: 350px;
}
.eventImg {
	height: 300px;
}
@media screen and (max-width: 620px) {
	.eventImg {
		height: 200px;
	}
}
@media screen and (max-width: 450px) {
	.eventImg {
		height: 180px;
	}
}
@media screen and (max-width: 390px) {
	.eventImg {
		height: 150px;
	}
}
@media screen and (min-width: 770px) and (max-width: 990px) {
	.homeCarousel {
		top: 38%;
	}
}
@media screen and (min-width: 400px) and (max-width: 770px) {
	.homeCarousel {
		top: 42%;
	}
}
@media screen and (min-width: 450px) and (max-width: 620px) {
	.eventCard {
		width: 350px;
		height: 250px;
	}
}
@media screen and (min-width: 390px) and (max-width: 450px) {
	.eventCard {
		width: 300px;
		height: 220px;
	}
	.homeCarousel {
		top: 55%;
	}
}
@media screen and (max-width: 390px) {
	.eventCard {
		width: 240px;
		height: 200px;
	}
	.homeCarousel {
		top: 64%;
	}
}
.event-slideBtn:hover {
	cursor: pointer;
	opacity: 0.8;
}
/* ---sub---- */
.subv1 {
	border-left: 3px solid #111722;
	height: 420px;
	top: 5px;
	left: 28px;
}
.subList {
	list-style-type: none;
}
.subName1 {
	border: solid #111722;
	background-color: #111722;
}
.subName2 {
	border: solid #ffcc66;
	background-color: #ffcc66;
}
.subName1:hover {
	cursor: pointer;
	background-color: #323b4b;
	transition: background-color 1s;
}
.subName2:hover {
	cursor: pointer;
	background-color: #ffbd3a;
	transition: background-color 1s;
}
.active-sub2 {
	cursor: pointer;
	background-color: #ffbd3a;
	outline: 2px solid #fff;
	outline-offset: -7px;
}
.active-sub1 {
	cursor: pointer;
	background-color: #323b4b;
	outline: 2px solid #fff;
	outline-offset: -7px;
}
.homeSub {
	top: -50%;
	z-index: 1;
	opacity: 0;
	transition: all 0.2s ease;
}
.homeSub-Img:hover .homeSub {
	opacity: 1;
	cursor: pointer;
}
.homeSub-Img:hover {
	opacity: 0.6;
	transition: ease 0.2s;
}
@media screen and (min-width: 1000px) {
	.sub-Img {
		width: 600px;
		height: 400px;
	}
}
@media screen and (min-width: 1200px) {
	.subImgv1 {
		border-left: 3px solid #111722;
		height: 220px;
		right: 95px;
		top: 90px;
	}
	.subImgv2 {
		border-left: 3px solid #111722;
		height: 220px;
		left: 95px;
		top: 90px;
	}
}
.home-subChp {
	color: #111722;
	border: double #111722;
}
.underline-overall-black::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #000;
}
.underline-overall-orange::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #ffbd3a;
}
.about-number {
	font-weight: bold;
}
/* ------------------------------------------HOME PAGE ENDS-------------------------------------------------- */

/*--------------------------------------- EVENTS PAGE STARTS--------------------------------------------------*/
.events-bg {
	background: linear-gradient(rgba(22, 22, 22, 0.1), rgba(100, 99, 99, 0.3)),
		url('../images/pageBg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.events-container {
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}
.events-bg-img {
	background: #e5e5e5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Eimg-fluid {
	width: 100%;
	max-height: 250px;
}
.events-desc {
	font-style: normal;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
}
.btn-events {
	border: 2px solid #ffcc66;
	font-size: 15px;
	display: inline-flex;
	background: #ffcc66;
	text-decoration: none;
	cursor: pointer;
	color: white;
}
.btn-events:hover {
	cursor: pointer;
	outline-offset: 3px;
	outline: 2px solid #ffcc66;
	border: 2px solid #ffcc66;
	color: black;
	background: #ffbd3a;
	transition: all 250ms;
}
.home-carousel {
	max-width: 400px;
}
.event-modal {
	background-image: url('../images/pageBg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
.eventModalBtn {
	color: white;
}
/*------------------------------------------EVENT PAGE ENDS-------------------------------------------*/

/*------------------------------------------GALLERY PAGE STARTS-------------------------------------------*/
.gallery-events-bg {
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
}
.gallery-content {
	opacity: 0;
	transition: 0.2s;
	background: rgba(0, 0, 0, 0.75);
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}
.gallery-item {
	border-radius: 10px;
}
.gallery-item:hover .gallery-content {
	opacity: 1;
}
.gallery-title {
	border-bottom: 1px solid #666;
}
.gallery-modal-img {
	width: 100%;
	height: auto;
}
.gallery-modal-body {
	padding: 0px;
}
.gallery-pagination {
	background-color: #ffffff;
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 16px;
}
.gallery-loading-animation,
.gallery-loading-animation:before,
.gallery-loading-animation:after {
	background: #ffffff;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.gallery-loading-animation {
	color: #ffffff;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.gallery-loading-animation:before,
.gallery-loading-animation:after {
	position: absolute;
	top: 0;
	content: '';
}
.gallery-loading-animation:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.gallery-loading-animation:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -10em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -10em;
		height: 5em;
	}
}
.pagination-content {
	color: rgba(0, 0, 0);
}
.pagination-line {
	border-left: 2px solid #d3d3d3;
	height: 18px;
}
.pagination-box {
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	background-color: #ffffff;
	width: 40px;
	background: transparent;
}
.pagination-box:focus {
	outline: none;
	border: 1px solid #ffcc66;
}
.pagination-disabled {
	opacity: 0.7;
}
.pagination-icon {
	color: #ffcc66;
}
.pagination-icon:hover {
	color: #444444;
	transition: ease-in 0.5s;
	cursor: pointer;
}
.gallery-desc::-webkit-scrollbar {
	width: 4px;
}
/* Track */
.gallery-desc::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 8px;
}
/* Handle */
.gallery-desc::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 8px;
}
/* Handle on hover */
.gallery-desc::-webkit-scrollbar-thumb:hover {
	background: #555;
	border: 1px solid #666;
}
/* Chrome, Safari, Edge, Opera */
.pagination-box::-webkit-outer-spin-button,
.pagination-box::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
.pagination-box {
	-moz-appearance: textfield;
}
/*-----------------------------------------GALLERY PAGE ENDS-------------------------------------------*/

/* ---------------------------------------CONTACT PAGE STARTS------------------------------------------ */
.contact-bg {
	background: linear-gradient(rgba(22, 22, 22, 0.1), rgba(100, 99, 99, 0.3)),
		url('../images/pageBg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.contact-box {
	background-color: white;
}
.half-circle {
	clip-path: ellipse(99% 55% at 100% 10%);
	width: 130px;
	height: 130px;
	float: right;
	background-color: #ffcc66;
}
@media (max-width: 350px) {
	.half-circle {
		width: 110px;
		height: 110px;
	}
}
.contact-head {
	padding-left: 60px;
}
.input-space {
	border: none;
	border-bottom: 1px solid #000000;
	outline: none;
	background: transparent;
	width: 100%;
}
.submit-contact {
	display: inline-flex;
	background: #ffcc66;
	text-decoration: none;
	cursor: pointer;
	color: white;
	border: 1px solid #ffcc66;
}
.submit-contact:hover {
	outline-offset: -3px;
	outline: 2px solid white;
	border: 2px solid #ffcc66;
	transition: all 150ms;
	background-color: #ffbd3a;
}
.contact-vertical {
	border-left: thin solid #ffcc66;
}
#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
}
.line {
	animation: expand 1s ease-in-out infinite;
	border-radius: 10px;
	display: inline-block;
	transform-origin: center center;
	margin: 0 3px;
	width: 1px;
	height: 25px;
	top: 50%;
	position: absolute;
}
.line:nth-child(1) {
	background: #ffcc66;
	left: 49%;
}
.line:nth-child(2) {
	animation-delay: 180ms;
	background: #cac7c7;
	left: 50%;
}
.line:nth-child(3) {
	animation-delay: 360ms;
	background: #ffffff;
	left: 51%;
}
.line:nth-child(4) {
	animation-delay: 540ms;
	background: #111722;
	left: 52%;
}
@media screen and (max-width: 650px) {
	.line:nth-child(1) {
		left: 50%;
	}
	.line:nth-child(2) {
		left: 52%;
	}
	.line:nth-child(3) {
		left: 54%;
	}
	.line:nth-child(4) {
		left: 56%;
	}
}
@keyframes expand {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(2);
	}
}
/* ------------------------------------------- CONTACT PAGE ENDS------------------------------------------- */

/*--------------------------------------------TEAMS PAGE STARTS ---------------------------------------------*/
.teams-bg {
	/* background: linear-gradient(
			rgba(236, 227, 227, 0.3),
			rgba(196, 191, 191, 0.6)
		),
		url('../images/bg-teams.png'); */
	/* background: white;
	background-repeat: no-repeat;
	background-size: cover; */
	background: linear-gradient(-45deg, #ffcc66, #fff, #fff, #ffcc66);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
	.teams-bg {
		background: linear-gradient(75deg, #ffe3aa, #fff, #fff, #ffe3aa);
	}
}
@media screen and (max-width: 575px) {
	.teamv1 {
		display: block;
		border-left: 3px solid #111722;
		height: 780px;
		top: 0px;
		left: -1px;
	}
	.teamv2 {
		display: block;
		border-left: 3px solid #111722;
		height: 780px;
		top: 130px;
		right: -1px;
	}
	.teamv3 {
		display: block;
		border-left: 3px solid #111722;
		height: 780px;
		top: 112px;
		right: 10px;
	}
	.teamv4 {
		display: block;
		border-left: 3px solid #111722;
		height: 780px;
		top: 15px;
		left: 10px;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.all-team-name {
	border: 1px solid rgba(0, 0, 0, 0.3);
	transition: 0.2s;
	transition-timing-function: ease-out;
	box-shadow: 0 0 0 0 #333;
	cursor: pointer;
	font-size: 18px;
	user-select: none;
}

.teams-bg-core {
	background: linear-gradient(
			rgba(255, 204, 102, 0.85),
			rgba(255, 204, 102, 0.85)
		),
		url('../images/team_bg/core.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-tech {
	background: linear-gradient(rgba(17, 23, 34, 0.5), rgba(17, 23, 34, 0.5)),
		url('../images/team_bg/tech.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-design {
	background: linear-gradient(
			rgba(255, 204, 102, 0.81),
			rgba(255, 204, 102, 0.81)
		),
		url('../images/team_bg/design.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-creative {
	background: linear-gradient(rgba(17, 23, 34, 0.7), rgba(17, 23, 34, 0.7)),
		url('../images/team_bg/creative.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-media {
	background: linear-gradient(rgba(30, 41, 60, 0.7), rgba(30, 41, 60, 0.7)),
		url('../images/team_bg/media.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-cs {
	background: linear-gradient(
			rgba(255, 204, 102, 0.8),
			rgba(255, 204, 102, 0.8)
		),
		url('../images/team_bg/cs.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-isv {
	background: linear-gradient(
			rgba(255, 204, 102, 0.75),
			rgba(255, 204, 102, 0.75)
		),
		url('../images/team_bg/isv.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-mdo {
	background: linear-gradient(
			rgba(255, 204, 102, 0.75),
			rgba(255, 204, 102, 0.75)
		),
		url('../images/team_bg/mdo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-pr {
	background: linear-gradient(rgba(17, 23, 34, 0.65), rgba(17, 23, 34, 0.65)),
		url('../images/team_bg/pr.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-admin {
	background: linear-gradient(rgba(17, 23, 34, 0.65), rgba(17, 23, 34, 0.65)),
		url('../images/team_bg/admin.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-mtts {
	background: linear-gradient(rgba(30, 41, 60, 0.1), rgba(30, 41, 60, 0.1)),
		url('../images/team_bg/mtts.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-treasurer {
	background: linear-gradient(rgba(30, 41, 60, 0.7), rgba(30, 41, 60, 0.7)),
		url('../images/team_bg/treasurer.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-faculty {
	background: linear-gradient(
			rgba(255, 189, 58, 0.7),
			rgba(255, 189, 58, 0.7)
		),
		url('../images/team_bg/faculty.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-secretary {
	background: linear-gradient(
			rgba(199, 200, 202, 0.86),
			rgba(199, 200, 202, 0.86)
		),
		url('../images/team_bg/secretary.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-wie {
	background: linear-gradient(
			rgba(199, 200, 202, 0.84),
			rgba(199, 200, 202, 0.84)
		),
		url('../images/team_bg/wie.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-publicity {
	background: linear-gradient(rgba(30, 41, 60, 0.7), rgba(30, 41, 60, 0.7)),
		url('../images/team_bg/publicity.jpg');
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teams-bg-pr .all-team-name,
.teams-bg-admin .all-team-name,
.teams-bg-mtts .all-team-name,
.teams-bg-media .all-team-name,
.teams-bg-creative .all-team-name,
.teams-bg-treasurer .all-team-name,
.teams-bg-publicity .all-team-name,
.teams-bg-tech .all-team-name {
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.all-team-div .all-team-name:hover {
	transition: 0.3s;
	transform: scale(1.1);
	opacity: 0.9;
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: 0 0 100px #000;
}
@media (max-width: 575px) {
	.all-team-div .all-team-name:hover {
		transform: scale(1.05);
	}
}
/* ------------------------------------------TEAMS PAGE ENDS------------------------------------------ */

/*--------------------------------------------MEMBERS PAGE STARTS--------------------------------------------*/
.tech-content {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
.tech-card {
	background: linear-gradient(rgba(22, 22, 22, 0.4), rgba(43, 28, 28, 0.4)),
		url('../images/team_bg/memberBg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.team-card:hover {
	text-decoration: none;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.memberCard-img {
	height: 190px;
	width: 190px;
	border-radius: 50%;
}
.card-border-1 {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23000000FF' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='98' stroke-linecap='butt'/%3e%3c/svg%3e");
	border-radius: 100px;
	padding: 10px;
}
.card-border-2 {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='98' stroke-linecap='butt'/%3e%3c/svg%3e");
	border-radius: 100px;
	padding: 10px;
}
.social-link-1 {
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	border-radius: 50%;
	transition: all 0.3s;
	font-size: 1.2rem;
}
.social-link-1:hover {
	background-color: #000000;
	color: white;
	padding: 2px;
}
.social-link-2 {
	width: 30px;
	height: 30px;
	border: 1px solid #ffff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	border-radius: 50%;
	transition: all 0.3s;
	font-size: 1.2rem;
}
.social-link-2:hover {
	background-color: #ffff;
	color: #ffcc66;
	padding: 2px;
}
.team-card-1 {
	background-color: #e5e5e5;
}
.team-card-2 {
	background-color: #ffcc66;
}
.team-card {
	max-width: 300px;
	min-width: 270px;
}
.team-points {
	position: relative;
	font-size: 20px;
}
.text-bullet {
	position: absolute;
	left: -40px;
	top: 50%;
	transform: translate(0%, -50%);
	font-weight: bolder;
	font-size: 3rem;
	color: #ffcc66;
}

/*------------------------------------------MEMBERS PAGE ENDS--------------------------------------------*/

/*-----------------------------------------SUBCHAPTERS PAGE STARTS ------------------------------------*/
.sub-banner {
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.47);
}
.sub-banner-color1 {
	background: linear-gradient(#a53b6d 20%, #24216e 110%);
}
.sub-banner-color2 {
	background: linear-gradient(#3ca5c6 20%, #a5e1c6 110%);
}
.sub-banner-color3 {
	background: linear-gradient(#bfeeb7 20%, #6ac25b 110%);
}
.sub-banner-color4 {
	background: linear-gradient(#f9d976 20%, #f39f86 110%);
}
.sub-home-row1 {
	min-height: 450px;
}
.sub-home-row2 {
	min-height: 530px;
}
.sub-home-row3 {
	min-height: 450px;
}
.sub-home-row4 {
	min-height: 450px;
}
.mtts-gif {
	max-height: 320px;
	max-width: 320px;
}
.wie-gif {
	max-height: 370px;
	max-width: 370px;
}
.cs-gif {
	max-height: 370px;
	max-width: 370px;
}
.isv-gif {
	max-height: 420px;
	max-width: 420px;
}
@media only screen and (max-width: 450px) and (min-width: 250px) {
	.mtts-gif {
		max-height: 280px;
		max-width: 280px;
	}
	.cs-gif {
		max-height: 290px;
		max-width: 290px;
	}
	.wie-gif {
		max-height: 280px;
		max-width: 280px;
	}
	.isv-gif {
		max-height: 290px;
		max-width: 290px;
	}
}
.sub-underline-overall::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
}
.underline-color1::before {
	background: #da5aa0;
}
.underline-color2::before {
	background: #084f92;
}
.underline-color3::before {
	background: #0f911b;
}
.underline-color4::before {
	background: #faa41a;
}
.sub-info1 {
	background-color: #ebebf2;
}
.sub-info2 {
	background-color: #ebf1f2;
}
.sub-info3 {
	background-color: #edf2eb;
}
.sub-info4 {
	background-color: #f4f4ed;
}
.sub-underline-home::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
}
.sub-activities {
	box-sizing: border-box;
	border-radius: 20px;
	overflow: hidden;
}
.sub-act-color1 {
	border: 4px solid #da5aa0;
}
.sub-act-color2 {
	border: 4px solid #084f92;
}
.sub-act-color3 {
	border: 4px solid #0f911b;
}
.sub-act-color4 {
	border: 4px solid #faa41a;
}
.sub-bg-wave {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	scroll-behavior: smooth;
}
.subChp-img {
	border-radius: 12px;
	max-height: 380px;
	max-width: 700px;
}
.sub-activity {
	max-height: 450px;
	max-width: 1000px;
}
.sub-chevron-carousel {
	font-size: 36px;
	position: relative;
	overflow: hidden;
	left: 0;
	z-index: 1;
}
.sub-carousel-color1 {
	color: #a53b6d;
}
.sub-carousel-color2 {
	color: #084f92;
}
.sub-carousel-color3 {
	color: #0f911b;
}
.sub-carousel-color4 {
	color: #faa41a;
}
.sub-chevron-banner {
	color: #ffffff;
	font-size: 42px;
	position: relative;
}
.sub-chevron-banner:hover {
	cursor: pointer;
}
.sub-chevron-color1 {
	animation: colorchange1 20s infinite alternate;
}
.sub-chevron-color2 {
	animation: colorchange2 20s infinite alternate;
}
.sub-chevron-color3 {
	animation: colorchange3 20s infinite alternate;
}
.sub-chevron-color4 {
	animation: colorchange4 20s infinite alternate;
}
@keyframes colorchange1 {
	0% {
		color: #fff;
	}
	10% {
		color: #a53b6d;
	}
	20% {
		color: #ffffff;
	}
	30% {
		color: #da5aa0;
	}
	40% {
		color: #ffff;
	}
	50% {
		color: #da5aa0;
	}
	60% {
		color: #ffffff;
	}
	70% {
		color: #da5aa0;
	}
	80% {
		color: #ffffff;
	}
	90% {
		color: #da5aa0;
	}
	100% {
		color: #ffffff;
	}
}
@keyframes colorchange2 {
	0% {
		color: #fff;
	}
	10% {
		color: #276d84;
	}
	20% {
		color: #ffffff;
	}
	30% {
		color: #276d84;
	}
	40% {
		color: #ffff;
	}
	50% {
		color: #276d84;
	}
	60% {
		color: #ffffff;
	}
	70% {
		color: #276d84;
	}
	80% {
		color: #ffffff;
	}
	90% {
		color: #276d84;
	}
	100% {
		color: #ffffff;
	}
}
@keyframes colorchange3 {
	0% {
		color: #fff;
	}
	10% {
		color: #005105;
	}
	20% {
		color: #ffff;
	}
	30% {
		color: #006a06;
	}
	40% {
		color: #ffff;
	}
	50% {
		color: #006a06;
	}
	60% {
		color: #ffff;
	}
	70% {
		color: #006a06;
	}
	80% {
		color: #ffff;
	}
	90% {
		color: #006a06;
	}
	100% {
		color: #ffff;
	}
}
@keyframes colorchange4 {
	0% {
		color: #fff;
	}
	10% {
		color: #dccd25;
	}
	20% {
		color: #ffff;
	}
	30% {
		color: #dccd25;
	}
	40% {
		color: #ffff;
	}
	50% {
		color: #dccd25;
	}
	60% {
		color: #ffff;
	}
	70% {
		color: #dccd25;
	}
	80% {
		color: #ffff;
	}
	90% {
		color: #dccd25;
	}
	100% {
		color: #ffff;
	}
}
.sub-carousel-card {
	background: transparent;
	border: none;
	margin: 10px;
	transition-duration: 3s;
	transition-timing-function: ease-in-out;
}
.subScrollTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 21px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 7px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.scrollTop-color1 {
	background-color: #da5aa0;
}
.scrollTop-color2 {
	background-color: #084f92;
}
.scrollTop-color3 {
	background-color: #0f911b;
}
.scrollTop-color4 {
	background-color: #faa41a;
}
.subScrollTop:hover {
	background-color: #ffff;
	transition-timing-function: ease-in;
	transition: background 0.2s;
}
.scrollTop-color1:hover {
	border: 2px solid #a53b6d;
	color: #a53b6d;
}
.scrollTop-color2:hover {
	border: 2px solid #084f92;
	color: #084f92;
}
.scrollTop-color3:hover {
	border: 2px solid #0f911b;
	color: #0f911b;
}
.scrollTop-color4:hover {
	border: 2px solid #faa41a;
	color: #faa41a;
}
.sub-up-arrow {
	position: relative;
	top: 0;
	transition: top ease-in 0.2s;
}
.sub-up-arrow:hover {
	top: -4px;
}
.sub-link-color1 {
	color: #a53b6d;
}
.sub-link-color2 {
	color: #084f92;
}
.sub-link-color3 {
	color: #0f911b;
}
.sub-link-color4 {
	color: #faa41a;
}
.sub-link:hover {
	color: #825db1;
}
@media only screen and (max-width: 990px) and (min-width: 760px) {
	.sub-underline-home::before {
		width: 100%;
	}
}
@media only screen and (max-width: 320px) and (min-width: 250px) {
	.sub-underline-home::before {
		width: 100%;
	}
}
@media only screen and (max-width: 1800px) and (min-width: 700px) {
	.cs-gif {
		min-height: 290px;
		min-width: 290px;
		padding-top: 20px;
		margin-top: 50px;
	}
}
@media only screen and (max-width: 1800px) and (min-width: 1000px) {
	.mtts-home {
		min-height: 480px;
	}
	.cs-homeGif {
		min-height: 480px;
	}
}
/*--------------------------------------SUBCHAPTERS PAGE ENDS ------------------------------------------*/

/* -----------------------------------ACHIVEMENTS PAGE STARTS------------------------------------------- */
.achieve-offer-section {
	background: url('/images/achievement/achieveBg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}
.achievement-cards {
	background-color: #ffffff;
	box-shadow: 0 0 0 0 #333;
	height: 450px;
}
.achieve-numbers {
	background-color: #111722;
}
.achieve-count {
	font-size: 36px;
}
.achieve-card {
	position: relative;
}
.achieve-image {
	display: block;
	width: 100%;
	height: 230px;
}
.achieve-desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #111722;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
	overflow-y: scroll;
}
.achieve-card:hover .achieve-desc {
	height: 100%;
}
.achieve-desc::-webkit-scrollbar {
	width: 4px;
}
.achieve-desc::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.achieve-desc::-webkit-scrollbar-thumb {
	background: #888;
}
.achieve-desc::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* ------------------------------------------ACHIVEMENTS PAGE ENDS-------------------------------------------*/
