<style>

    html {
        scroll-behavior: smooth;
    }

    body {
        top: 0;
        left: 0;
        margin: 0;
        font-size: 100%;
        font-family:'Roboto';
        background: #fff;
        padding: 0 !important;
    }

    .footer-univ {
        background: #0b0c10;
    }

    .footer-header {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        border-left: 2px solid #c65039;
    }

    .footer-content-color-fsz {
        color: #aaa;
        font-size: 15px;
    }

    .footer-social {
        background: #c65039;
        transition: 0.2s;
    }

    .footer-social:hover {
        opacity: 0.8;
    }

    .copyright-footer {
        background: #c65039;
    }

</style>

<footer class="footer-univ py-4">
    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="footer-header text-white ps-2">
                    REACH US
                </div>
                <address class="footer-content-color-fsz pt-3">
                    SIES Graduate School of Technology, <br />Plot 1-C
                    D&E, Sector-v, NAVI MUMBAI, MAHARASHTRA.
                </address>
                <p class="footer-content-color-fsz mb-0">
                    Phone:
                    <a
                        class="text-decoration-none footer-content-color-fsz"
                        href="tel:+918080355395"
                        >+91 8080355395</a
                    >
                    <br />
                    Email:
                    <a
                        href="mailto:ieee@siesgst.ac.in"
                        class="text-decoration-none footer-content-color-fsz"
                        >ieee@siesgst.ac.in</a
                    >
                </p>
            </div>

            <div class="col-lg-4 col-sm-6 col-12 pt-sm-0 pt-5">
                <div class="footer-header text-white ps-2">
                    FOLLOW US
                </div>
                <p class="footer-content-color-fsz pt-3">
                    You can always follow us and contact us on our
                    social media platforms!
                    <br />
                    Feel free to check out:
                </p>
                <p class="mb-0">
                    <a
                        href="https://www.instagram.com/ieeesiesgst/"
                        target="_blank"
                        class="btn rounded text-white footer-social"
                    >
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a
                        href="https://m.facebook.com/ieeesiesgstofficial/"
                        target="_blank"
                        class="btn rounded text-white footer-social ms-2"
                    >
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a
                        href="https://www.youtube.com/channel/UCXAeBcDQQBiuVtzn4ke-Xsw"
                        target="_blank"
                        class="btn rounded text-white footer-social ms-2"
                    >
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a
                        href="https://www.linkedin.com/mwlite/company/ieee-gst"
                        target="_blank"
                        class="btn rounded text-white footer-social ms-2"
                    >
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </p>
            </div>

            <div class="col-lg-4 col-12 pt-lg-0 pt-5">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 col-12">
                        <div class="footer-header text-white ps-2">
                            FOUND A BUG? <i class="fas fa-bug ps-2"></i>
                        </div>
                        <p class="footer-content-color-fsz pt-3">
                            Report the bug on our
                            <a
                                href="https://github.com/ieeesiesgst/IEEE-SIESGST-website-2.0"
                                target="_blank"
                                class="d-inline-block"
                                >GitHub repository</a
                            >
                            by raising an issue.
                        </p>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-12">
                        <div class="footer-header text-white ps-2">
                            Contribute
                        </div>
                        <p class="footer-content-color-fsz pt-3">
                            You can always make contributions on our
                            <a
                                href="https://github.com/ieeesiesgst/"
                                target="_blank"
                                class="d-inline-block"
                                >GitHub Organisation</a
                            >.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright-footer text-center text-white">
    <small>
        <i class="far fa-copyright"></i> 2020 -
        <script>
            document.write(new Date().getFullYear());
        </script>
        IEEE SIES GST.<!--  <a href="#" class="text-white" target="_blank">Privacy Policy</a> -->
    </small>
</div>