/* -----------------------------------------------HOME PAGE----------------------------------------------- */
body {
	font-family: 'Roboto';
}
.homev1 {
	border-left: 3px solid #111722;
	height: 480px;
	top: 10px;
	left: 30px;
}
.homev2 {
	border-left: 3px solid #111722;
	height: 420px;
	top: 40px;
	left: 50px;
}
.homev3 {
	border-left: 3px solid #111722;
	height: 480px;
	top: 10px;
	right: 30px;
}
.homev4 {
	border-left: 3px solid #111722;
	height: 420px;
	top: 40px;
	right: 50px;
}
.circleCount {
	border: dashed #ffcc66;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 100px;
	animation: spin 10s linear infinite;
}
@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}
.about-us {
	background-repeat: no-repeat;
	background-size: cover;
	color: #111722;
}
.about-text {
	max-width: 800px;
}
/* -----Home Flagship----- */
.home-flagShip {
	background: linear-gradient(#111722 20%, #2e3344 110%);
}
.flagShipv1 {
	border-left: 3px solid #111722;
	height: 220px;
	left: 160px;
}
.flagShipv2 {
	border-left: 3px solid #111722;
	height: 220px;
	right: 160px;
}
/* -- Home Events-- */
.eventv1 {
	border-left: 3px solid #111722;
	height: 350px;
	top: 10px;
	left: 30px;
}
.eventv2 {
	border-left: 3px solid #111722;
	height: 150px;
	top: 50px;
	left: 50px;
}
.home-events {
	color: #111722;
	background: linear-gradient(#2e3344 10%, #111722 70%);
	min-height: 600px;
}
.homeEvent-bg {
	min-height: 400px;
}
.homeEvent-carousel {
	top: 250px;
}
@media screen and (min-width: 1200px) {
	.homeEvent-carousel {
		left: 80px;
		width: 980px;
		top: 210px;
	}
}
@media screen and (min-width: 800px) and (max-width: 990px) {
	.homeEvent-carousel {
		top: 270px;
		left: -3px;
	}
}
@media screen and (max-width: 800px) {
	.homeEvent-carousel {
		left: 2px;
	}
}
.event-slideBtn:hover {
	cursor: pointer;
	opacity: 0.8;
}
