/*------  --------  LOGIN FORM --------- ---------*/
  @media (min-width: 576px) {
    .login-dialog {
      max-width: 400px;
    }
    .login-dialog .login-body {
      padding: 1rem;
    }
  }
   
 /* .btn-round {
    border-radius: 3rem;
  } */
  
  .delimiter {
    padding: 1rem;
  }
  
  .signin-google{
    background-color: #dd4b39;
    color:white;
    
  }
  
  .signin-google:hover{
    color:white;
  }

  .signin-microsoft:hover{
    color:white;
  }

  .signin-microsoft{
    background-color: #000000;
    color: white;
  }
  
  .signup-section {
    padding: 0.3rem 0rem;
  }
  .login-body{
    background-color: white;
    color : black;
    
  }
  .login-button{
    background-color: #c65039;
    border-radius: 3rem;
  }

/*------------ ------------LOGIN FORM END ---------- --------*/