
 /* @media (min-width: 576px) {
  .register-container{
    margin: auto;
  }
} */

.register-container {

  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
 

#register {
  background: #F9F9F9;
  /* padding: 25px; */
  margin: 20px 0;
  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-button{
  background-color: #c65039;
  border-radius: 3rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}



.column-row{
  padding-top: 5px;
  content :"";
  display: table;
  clear:both;
  margin: auto;
}

.column-register{
  float: left;
  width:50%;
}


@media only screen and (min-width:360px){
  .column-register{
    width:100%;
  }
}