body {
	background: url('../images/8.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.signUp-title {
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.home-col {
	min-width: 300px;
	max-width: 500px;
}
.home-l-col {
	background-color: white;
}
.signup-form {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
}
.home-r-col {
	background-color: white;
	color: black;
}
.subChp-title {
	/* font-weight: bold; */
	font-size: large;
	font-family: 'Roboto', sans-serif;
}
.subChp-text {
	font-family: 'Raleway', sans-serif;
}
.login-button {
	background-color: #c65039;
	border-radius: 3rem;
}
.form-title {
	font-size: large;
	font-family: 'Roboto', sans-serif;
}
