/*------  --------  LOGIN FORM --------- ---------*/
.container {
    padding: 2rem 0rem;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 400px;
    }
    .modal-dialog .modal-content {
      padding: 1rem;
    }
  }
  .modal-header .close {
    margin-top: -1.5rem;
  }
  
  .form-title {
    margin: -2rem 0rem 2rem;
  }
  
  .btn-round {
    border-radius: 3rem;
  }
  
  .delimiter {
    padding: 1rem;
  }
  
  .google{
    background-color: #dd4b39;
    color:white;
  }
  .microsoft{
    background-color: #000000;
    color: white;
  }
  
  .signup-section {
    padding: 0.3rem 0rem;
  }
  .login-body{
    background-color: white;
    color : black;
    
  }
  .login-button{
    background-color: #c65039;
  }

/*------------ ------------LOGIN FORM END ---------- --------*/