/*-------FONT FAMILY -------*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Narrow:wght@400;700&display=swap');
/* --------HOME PAGE --------- */
.about-headlines {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 36px;
}
.about-content {
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
}
.about-number {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	font-size: 25px;
}
.control-btn:hover {
	cursor: pointer;
	color: white;
}
/*----------Home-Sub chapter --------------*/
.sub-l-col {
	background-color: #424242;
	border-radius: 15px 0px 0px 15px;
	/* background-image: url('../images/sub-1.jpg'); */
}
.sub-r-col {
	background-color: #c4c4c4;
	font-size: x-large;
	border-radius: 0px 15px 15px 0px;
}
.sub-img {
	opacity: 0.6;
}
.sub-chp {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 200;
}
.sub-btn:hover {
	color: #f1f0ec;
	cursor: pointer;
	background-color: #424242;
	outline: 12px solid #424242;
	outline-offset: 1px;
}
/* #sub-image {
	opacity: 0.6;
	content: 'fjkbsibvk waeihsvbiaw';
} */
@media screen and (max-width: 280px) {
	.sub-btn:hover {
		outline: 5px solid #424242;
	}
}
@media screen and (max-width: 576px) {
	.sub-l-col {
		border-radius: 15px 15px 0px 0px;
	}
	.sub-r-col {
		border-radius: 0px 0px 15px 15px;
	}
	.sub-btn:hover {
		color: #f1f0ec;
		cursor: pointer;
		background-color: #424242;
		outline: 5px solid #424242;
		outline-offset: 1px;
	}
}
