.gallery-events-bg {
	background: linear-gradient(rgba(22, 22, 22, 0.1), rgba(100, 99, 99, 0.3)),
		url('../images/bg-events1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.gPic-col {
	flex: 1;
	padding: 0 2em;
}
.gPic-col--2,
.gPic-col--3,
.gPic-col--4 {
	display: none;
}
.gallery-item {
	position: relative;
	margin-bottom: 10px;
}
.gallery-headline {
	position: sticky;
	top: 0;
	overflow-y: hidden;
	background-color: rgba(0, 0, 0);
	color: #ffffff;
	font-size: 21px;
	padding: 16px;
}

.gallery-content {
	font-family: 'Roboto';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;
	height: 100%;
	border-radius: 5px;
	align-items: center;
	box-shadow: 2px 2px 4px #6c757d7a;
	scrollbar-width: 10px;
}
.gallery-desc {
	color: #cccccc;
	padding-left: 5px;
	/* padding-right: 5px; */
}

.gallery-item:hover .gallery-content {
	visibility: visible;
	opacity: 1;

	transition: 0.5s ease;
}

@media (min-width: 768px) {
	.gallery-container {
		width: 90%;
	}
	.gPic-col {
		flex: 1;
		padding: 0 0.3em;
	}
	.gPic-col--2 {
		display: block;
	}
}

@media (min-width: 1080px) {
	.gPic-col--3 {
		display: block;
	}
	.gallery-container {
		width: 80%;
	}
}
.gallery-pagination {
	background-color: #ffffff;
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 16px;
}
.pagination-content {
	color: rgba(0, 0, 0);
}
.page-line {
	border-left: 2px solid #d3d3d3;
	height: 18px;
}

.pagination-box {
	border: 1px solid #d3d3d3;
	border-radius: 4px;

	background-color: #ffffff;
	width: 25px;
	background: transparent;
	/* color: white; */
}
.pagination-box:focus {
	outline: none;
	border: 1px solid #ce5841;
}

.pagination-icon {
	color: #ce5841;
}
.pagination-icon:hover {
	color: #444444;
	transition: ease-in 0.5s;
}
